@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu" !important;
  box-sizing: border-box;
}
body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1487089427585-85563b1049f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
}
.Box {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.generate-button .MuiButton-endIcon {
  display: none;
}

.generate-button:hover .MuiButton-endIcon {
  display: inline-flex;
}
